aioeos==1.0.2
aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
async-timeout==4.0.2
attrs==22.1.0
base58==2.0.0
black==22.12.0
charset-normalizer==2.1.1
click==8.1.3
ecdsa==0.15
fastapi==0.88.0
flake8==6.0.0
frozenlist==1.3.3
h11==0.14.0
httptools==0.5.0
idna==3.4
mccabe==0.7.0
multidict==6.0.3
mypy==0.991
mypy-extensions==0.4.3
pathspec==0.10.3
platformdirs==2.6.0
pycodestyle==2.10.0
pydantic==1.10.2
pyflakes==3.0.1
python-dotenv==0.21.0
PyYAML==6.0
six==1.16.0
sniffio==1.3.0
starlette==0.25.0
tomli==2.0.1
typing_extensions==4.4.0
uvicorn==0.20.0
uvloop==0.17.0
watchfiles==0.18.1
-e git+https://github.com/TheBoringDude/wax.py.git@8f9b26a4fe4d26f295e0b88abcc3b16dba6e9edb#egg=wax.py
websockets==10.4
yarl==1.8.2
